{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<h2>Log In</h2>
{% if user.is_authenticated %}
        Hi {{ user.username }}, you are logged in!
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
{% else %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Log In</button>
    </form>
    <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
{% endif %}

{% endblock %}