{% extends 'base_topic.html' %}

{% block topic_content %}

<div class="container-fluid">
    <div class="row">
        <header>
            <div class="banner family">
                <h2 class="topic-title">Family</h2>
                <p class="topic-intro">This topic refers to any thoughts, questions and ideas for family relationships</p>
            </div>
        </header>
    </div>
    <div class="topics-posts">
        {% include 'forumapp/post_list.html' %}
    </div>
</div>
{% endblock %}
