{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/background-image.png' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Display existing comments -->
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Comments</h2>
            {% for comment in post.comments.all %}
                <p>{{ comment.body }} - {{ comment.author.username }}</p>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Comment form -->
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Add Comment</h2>
            <form method="post" action="{% url 'add_comment' slug=post.slug %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit">Add Comment</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}