<!-- post_list.html -->
{% load humanize %}
<div class="container-fluid">
    <div class="row">
    </div>

    <div class="row">
        {% for post in post_list %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ post.title }}</h3>
                        <p class="card-text">{{ post.excerpt }}</p>
                        <p class="card-text">
                            <small class="text-muted">
                                Posted {{ post.created_on|naturaltime }} by {{ post.author.username }}
                            </small>
                        </p>
                        <a href="{% url 'post_detail' slug=post.slug %}" class="btn btn-primary read-more" aria-label="Read more about '{{ post.title }}'">Read post</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
