{% extends 'base.html' %} {% block content %}
{% load static %}
{% load humanize %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h2 class="post-title">{{ post.title }}</h2>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text post-content">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Display existing comments -->
<div class="container comments">
    <div class="row">
        <div class="col">
            <h2>Comments...</h2>
            {% if not post.comments.all %}
            <p>No comments yet...</p>
            {% else %}
            {% for comment in post.comments.all %}
                <div>
                    <strong>
                        {{ comment.author.username }}
                    </strong>
                    <br/>
                    {{ comment.body }}
                    <br/>
                    <strong>
                        {{ comment.updated_on | naturaltime }}
                    </strong>
                    <br/><br/>
                    <div class="comment-comment">
                        <form method="post" action="{% url 'add_comment' slug=post.slug %}">
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                            <button type="submit">Add Comment</button>
                        </form>
                    </div>
                    <br/><br/>
                </div>
            {% endfor %}
            {% endif %}
            (html comment removed:  Display comment )
            {% for comment in object.comment_set.all %}
              <p>
                  {{comment.desc}}
                  {% if request.user == comment.user %} // protect data from other users
                      <a href="{% url 'edit-comment' comment.id %}">Edit</a>
                  {% endif %}
              </p>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Comment form -->
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Add Comment</h2>
            <form method="post" action="{% url 'add_comment' slug=post.slug %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit">Add Comment</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}