{% extends 'base.html' %} {% block content %}
{% load static %}
{% load humanize %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="masthead-text">
                <h2 class="post-title">{{ post.title }}</h2>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col mb-4 mt-3 left top card">
            <div class="card-body">
                <p class="card-text post-content">
                    {{ post.content | safe }}
                </p>
                <p>
                {% if request.user == post.author %}
                        <form method="post" action="{% url 'post-edit' pk=post.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary post-button">Edit</button>
                        </form>
                        <form method="post" action="{% url 'delete-post' slug=post.slug %}" style="display:inline;">
                            {% csrf_token %}
                            <button class="btn btn-primary delete-post-button" data-post-id="{{ post.id }}">Delete</button>
                        </form>
                {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Display existing comments -->
<div class="container comments comment-container">
    <div class="row">
        <div class="col">
            <h2>Comments...</h2>
            {% if not post.comments.all %}
            <p>No comments yet...</p>
        {% else %}
            <div class="card comment-card">
                {% for comment in post.comments.all %}
                    <strong>
                        {{ comment.author.username }}
                    </strong>
                    {{ comment.content }}
                    <br/>
                    <strong>
                        {{ comment.updated_on | naturaltime }}
                    </strong>
                    {% if request.user == comment.author %}
                    <p>
                        <form method="get" action="{% url 'edit-comment' pk=comment.id %}" style="display: inline;">
                            <button type="submit" class="btn btn-primary comment-button">Edit</button>
                        </form>
                        <form method="post" action="{% url 'delete-comment' pk=comment.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button class="btn btn-primary delete-comment-button" data-comment-id="{{ comment.id }}">Delete</button>
                        </form>
                        </form>
                    </p>
                    {% endif %}
                    <hr class="comment-line"/>
                {% endfor %}
            </div>
        {% endif %}
        </div>
    </div>
</div>

<!-- Comment form -->
<div class="container add-comment">
    <div class="row">
        <div class="col">
            <h2>Add Comment</h2>
            <form method="post" action="{% url 'add_comment' slug=post.slug %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-primary comment-button" aria-label="Add Comment">Add Comment</button>
            </form>
            <br/>
        </div>
    </div>
</div>

{% endblock content %}