@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body {
    background-color: #f8f8f8;
}

.intro {
    background-color: #ff8800;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    top: 0;
    margin-bottom: 25px;
    text-align: center;
}

.container {
    padding-top: 20px; 
}

.mainTitle {
    font-family: "Bebas Neue", sans-serif;
    color: #f8f8f8;
}

h1{
    font-size: 200px;
}

.forumIntro {
    font-family: "Bebas Neue", sans-serif;
    color: #272d2d;
    font-size: 30px;
}

.btn-primary {
    align-items: center;
    background-color: #ff4d29;
    color: #f8f8f8;
    border-color: #ff4d29;
    border-radius: 15px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    padding: 10px 20px;
} 

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    color: #272d2d;
    outline: none;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #272d2d;
}

.navbar {
    background-color: #ff8800;
    min-height: 60px;
    position: relative;
}

.navbar-brand {
    font-family: "Bebas Neue", sans-serif;
    font-size: xx-large;
}

.navbar-toggler {
    z-index: 1000;
    position: relative;
}

.example-posts {
    background-color: #9ec5ff;
    padding: 20px;
    margin-bottom: 56px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #272d2d;
    margin: 4px;
    text-transform: uppercase;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #f8f8f8;
}

.dark-bg {
    background-color: #272d2d;
}

.main-bg {
    background-color: #f8f8f8;
}

.card {
    border: none;
    background-color: #f8f8f8;
    color: #272d2d;
    width: 100%;
}

.image-container {
    position: relative;
    text-align: center;
}

.image-flash {
    position: relative;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #272d2d;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #ff8800;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #9ec5ff;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}