@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body {
    background-color: #f8f8f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.intro {
    background-color: #ff8800;
    padding: 1.25rem;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    overflow-wrap: break-word;
}

.container {
    padding-top: 1.25rem; 
}

.mainTitle {
    font-family: "Bebas Neue", sans-serif;
    color: #f8f8f8;
}

h1{
    font-size: 12.5rem;
}

.forumIntro {
    font-family: "Bebas Neue", sans-serif;
    color: #272d2d;
    font-size: 1.9rem;
}

.btn-primary {
    align-items: center;
    background-color: #ff4d29;
    color: #f8f8f8;
    border-color: #ff4d29;
} 

.btn-signup,
.read-more {
    font-family: "Bebas Neue", sans-serif;
    border-radius: 1rem;
    font-size: 1.9rem;
    padding: 0.6rem 1.25rem;
    width: 50%;
    align-self: center;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    color: #272d2d;
    outline: none;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #272d2d;
}

.navbar {
    background-color: #ff8800;
    min-height: 3.75rem;
    position: relative;
}

.navbar-brand {
    font-family: "Bebas Neue", sans-serif;
    font-size: xx-large;
}

.navbar-toggler {
    z-index: 1000;
    position: relative;
}

/* Index.html */
.example-posts {
    background-color: #9ec5ff;
    margin-bottom: 3.5rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card {
    border: none;
    background-color: #f8f8f8;
    color: #272d2d;
    border-radius: 1.25rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.image-container {
    position: relative;
    text-align: center;
    height: 50%;
}

.image-flash {
    position: relative;
    bottom: 5%;
    min-width: 30%;
    left: -0.125rem;
}

.example-posts .row {
    margin: -1rem;
}

.example-posts .col {
    padding: 1rem;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #272d2d;
    margin: 0.25rem;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #ff8800;
}

/* post_list.html */
.card-title {
    margin-top: 0.6rem; 
    margin-bottom: 0.6rem;
    margin-left: 5%;
}

.card-text {
    margin-bottom: 0.6rem;
    color: #272d2d;
}

/* topics pages */
.banner {
    height: auto;
    width: 100%;
    max-height: 65vh;
    background-size: cover;
    background-position: 69%;
}

.career {
    background-image: url("../images/background-image.jpg") 
}

.pastimes {
    background-image: url("../images/background-image.jpg");
}

.family {
    background-image: url("../images/complaints-background.jpg");
}

.complaints {
    background-image: url("../images/complaints-background.jpg");
}

.topic-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 10rem;
    text-align: center;
    overflow-wrap: break-word;
}

.topic-intro {
    font-family: "Roboto", sans-serif;
    font-size: 1.9rem;
    text-align: center;
}

.topics-posts {
    background-color: #9ec5ff;
    padding-top: 1rem;
}

/* post_detail.html */

.masthead {
    margin-top: 0.6rem;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.masthead-text {
    background-color: #272d2d;
    color: white;
    position: relative;
    font-family: "Roboto", sans-serif;
}

.post-title {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}

.post-content {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    width: 100%;
}

.comment-container {
    height: auto;
    padding: 0.5rem 1rem;
}

.comment-card {
    background-color: #fff;
    margin-bottom: 0.3rem;
}

.add-comment {
    margin-top: 1.5rem;
}

.comment-button,
.post-button {
    font-family: "Roboto", sans-serif;
    border-radius: 0.3rem;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
}

.btn-secondary .cancel {
    background-color: #9ec5ff;
}

/* Sign up page */
.login-form {
    padding: 1.25rem 0.6rem;
    margin: 1.25rem 0.6rem;
}

.form-group {
    margin-bottom: 0.6rem;
}

/* Search results page */
.center {
    text-align: center;
}

/* Footer */
.footer {
    margin-top: auto;
    color: #f8f8f8;
    text-align: center;
}

.fab {
    color: #f8f8f8;
}

.four-background {
    background-color: #9ec5ff;
    color: #272d2d;
}

.thin {
    font-weight: 300;
}

.main-bg {
    background-color: #f8f8f8;
}

.dark-bg {
    background-color: #272d2d;
}

.link {
    color: #272d2d;
    text-decoration: underline;
}

.link:hover,
.link:active {
    color: #272d2d;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

@media (max-width: 768px) {
    .main-title {
        font-size: 4rem;
    }
    .topic-title {
        font-size: 4rem;
    }
    .topic-intro {
        font-size: 1rem;
    }
    .btn-signup,
    .read-more  {
        font-size: 1.9rem;
    }
}